<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/css/bootstrap.min.css'  %}">
    <script src="{% static 'assets/js/js/bootstrap.min.js' %}"></script>
        <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
<h1><u>Users</u></h1>
<div class="container">
{% for users in users %}
    <hr>
    <b>Fullname :</b>{{ users.fullname }}<br>
    <b>Username :</b>{{ users.username }}<br>
    <b>Email :</b>{{ users.email }}<br>
    <b>Password :</b>{{ users.password }}<br>
    <b>Year of Birth :</b>{{ users.yearofbirth }}<br>
    <hr>
    
{% endfor %}
</div>
</body>
</html>